.navbar-toggler{
  justify-content: flex-end;
}
.p-4{
  border-bottom: 2px dotted #9a9da0;
  font-family: 'Pacifico', cursive;  
  text-align: center;
}
.fas{
  font-size: 4.4em;
  text-align: center;
  color: white;
  margin:0.2em;
  
}
.text-white{
  font-size: 1.8em;
  color:#dfdfdf!important;
}
.borda{
  border-radius: 50%;
  border-bottom: 4px dotted #dfdfdf;
  margin-left: 3.5em;
  margin-right: 3.5em;
}
.logo{
  justify-content: flex-start;
  color: White;
  font-family: 'Handlee', cursive;
  margin:0.2em;
}
.col:hover{
  transform: translate(0, -10px);  
}